/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    padding: 20px;
}

/* Estilo para o cabeçalho h1 */
h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
    margin-top: 10%;
}

/* Estilo para o formulário de login */
#loginForm {
    max-width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#linkCadastro {
    display: block;
    text-align: center;
    margin-top: 20px; /* Espaçamento opcional entre o formulário e o link */
    color: #1b89ff; /* Cor do link */
    text-decoration: none; /* Remove sublinhado padrão */
}

#linkCadastro:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
    color: #0053ac;
}
