/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que a altura mínima da página seja pelo menos 100% da viewport */
}

/* Container para centralizar conteúdo */
.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho h1 */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Estilo para o formulário de cadastro */
#signupForm {
    text-align: center; /* Centraliza elementos dentro do formulário */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
